---
layout: layouts/home.njk
---
<p>
<b>Hello</b>
</br>
</br>

Up until February I was a senior software engineer at Microsoft, and before that at Nordstrom. I'm currently taking a break from the industry to focus on mental health. In my free time I enjoy <a href="https://odderb.itch.io/" target=_blank> creating my own games</a>, running, gardening, and my dogs company.

</br>
</br>

There isn't much here right now, but I'll be updating this over time.

</p>
<!--
I will eventually (maybe?) have posts, but not for now :)

<h2>Recent Posts</h2>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
-->